<div class="uk-section">
  <div class="uk-container">

    <div class="uk-grid-match" uk-grid>
      <div class="uk-width-1-4@m">
        <h4> stay in touch </h4>
        <p>
          <span uk-icon="facebook"></span> &nbsp;&nbsp;
          <span uk-icon="instagram"></span> &nbsp;&nbsp;
          <span uk-icon="twitter"></span>
        </p>
      </div>
      <div class="uk-width-1-2@m uk-text-center ">
        <p class="logo">
          Vidarita
        </p>
      </div>
      <div class="uk-width-1-4@m">
        <ul class="uk-list">
          <li>
            <button class="uk-button uk-button-text">About Us</button>
          </li>
          <li>
            <button class="uk-button uk-button-text">Shop</button>
          </li>
          <li>
            <button class="uk-button uk-button-text">Contact us</button>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>