.uk-light .uk-navbar-nav > li > a {
  color: #1d2445;
}

.uk-light .uk-navbar-nav > li.uk-active > a,.uk-navbar-nav > li.uk-active > a {
 background: #1d2445;
 color: #fff;
}

.uk-light {
  background-color: rgba(255, 255, 255, 0.795);
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: #fff;
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle{
  min-height: 69px;
    padding: 11px 30px;
}

.uk-navbar-nav > li > a {
  color: #1d2445;
}

li {
  outline: -webkit-focus-ring-color auto 0px;
}

.uk-badge {
  color: #fff;
  background-color: #eb7025;
  border-radius: 50px 50px 50px 50px;
  padding: 2px 2px 2px 2px;
  margin: -15px 0 0 -1px;
}


.logo{
  font-family: amsterdam;
    color: #1d2445;
    font-size: 27px;
    font-weight: 500;
}

.uk-offcanvas-bar{
  background: #fff;
}

.uk-offcanvas-bar .uk-nav-primary>li>a{
  color: #000;
}