button:active {
    transform: scale(0.95);
  }
  
  button:focus {
    outline: none;
  }
  
  button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
  }
  
  .google {
    background-color: #e44134;
    color: #fff;
    border-color: #e44134;
  }
  
  .form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
  }
  
  input {
    background-color: #eee;
    border: 1px solid;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }

  .uk-input:focus, .uk-select:focus, .uk-textarea:focus{
      border: 1px solid;
  }