<div class="uk-section">

  <div class="uk-container">
    <div uk-grid>
      <div class="uk-width-2-3@m">
        <div *ngIf="products.length === 0" class="uk-text-center">
          <h4>EMPTY CART!</h4>
          <img src="../../../../assets/empty-cart.png" alt=""> <br>
          <button class="uk-button uk-button-text">Go To Shop</button>
        </div>


        <div *ngIf="products.length>0">
          <table class="uk-table  uk-table-middle uk-table-responsive uk-table-divider">
            <tbody>
              <tr>
              </tr>
              <tr *ngFor="let product of products;let i = index">
                <td><img src="{{product.products.images[0]}}" width="100" alt="">
                </td>
                <td>
                  <a class="uk-link-reset" href="">{{product.products.pname}} </a>
                </td>
                <td>
                  Delivery On: {{product.products.rentingDate.toDate() |date:'dd/MMMM/Y'}} <br>
                  Return Date: {{product.products.returnDate.toDate() |date:'dd/MMMM/Y'}}
                </td>
                <td>Price: ₹ {{product.products.price}}
                  <br>
                  Deposit: ₹ {{product.products.deposit}}
                </td>
                <td><a (click)="deleteFromCart(product.products.id)" class="uk-icon-link" uk-icon="icon: close;"></a>
                </td>
              </tr>
              <tr>
                <td colspan="5"></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
      <div class="uk-width-1-3@m">
        <form class="uk-form-stacked uk-grid-small" uk-grid>

          <div class="uk-width-1-1@s">
            <label class="uk-form-label">Full Name *</label>
            <div class="uk-form-controls">
              <input class="uk-input" type="text" [(ngModel)]="shippingDetails.name" name="name">
            </div>
          </div>


          <div class="uk-width-1-1@s">
            <label class="uk-form-label">Full Address *</label>
            <div class="uk-form-controls">
              <input class="uk-input" type="text" [(ngModel)]="shippingDetails.address" name="address">
            </div>
          </div>


          <div class="uk-width-1-1@s">
            <label class="uk-form-label">Postcode / ZIP *</label>
            <div class="uk-form-controls">
              <input class="uk-input" type="text" [(ngModel)]="shippingDetails.pincode" name="pincode">
            </div>
          </div>


          <div class="uk-width-1-1@s">
            <label class="uk-form-label">Phone *</label>
            <div class="uk-form-controls">
              <input class="uk-input" type="text" [(ngModel)]="shippingDetails.phone" name="phone">
            </div>
          </div>

          <div class="uk-width-1-1@s">
            <label class="uk-form-label">Email Address *</label>
            <div class="uk-form-controls">
              <input class="uk-input" type="text" [(ngModel)]="shippingDetails.email" name="email">
            </div>
          </div>
          <p class="uk-width-1-2@s">Rent Charge: ₹ {{totalRent}} </p>
          <p class="uk-width-1-2@s">Refund : ₹ {{totalRefund}}</p>
          <p class="uk-width-1-1@s">Total Amount: ₹ {{subtotal}} </p>
          <div class="uk-width-1-1@s">
            <button class="uk-button uk-button-secondary" type="submit" [disabled]="products.length === 0"
              (click)="placeOrder()">
              Place Order</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>