<div class="uk-section">

  <div class="uk-container">
    <div class="uk-flex-center" uk-grid>
      <div class="uk-width-1-3@m">
        <div class="uk-text-center">
          <img src="../../../assets/about_us.png" alt="">
        </div>
      </div>
      <div class="uk-width-1-3@m">
        <div>
          <h4>WHY US?</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ipsam officia cumque. Autem voluptates
            corrupti harum. Odit culpa praesentium numquam, tempore voluptates velit et, iusto, ipsa aspernatur maxime
            necessitatibus maiores.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="uk-section">

  <div class="uk-container uk-text-center">
    <div class="uk-child-width-1-3@s uk-child-width-1-3@m " uk-grid>
      <div>
        <img src="../../../assets/icons/dimond.svg" alt="">
        <h3>Get the recognition you deserve.</h3>
        <p>You are already making the right way. but which of them do you have and which matter?</p>
      </div>
      <div>
        <img src="../../../assets/icons/fileSearch.svg" alt="">
        <h3>Strick Standards </h3>
        <p>
          We only accept the brands that commit and can veryfy that they produce sustaninably and ethically.
        </p>
      </div>
      <div>
        <img src="../../../assets/icons/customer_support.svg" alt="">
        <h3>Unpralleled Support</h3>
        <p>
          24/7 globel marketing local events, a supplier marketplace and rich analytics, no other platform compares.
        </p>
      </div>
    </div>
  </div>

</div>