

.uk-input,
.uk-select,
.uk-textarea {
  padding: 0 0px 0px 15px;
  border: 1px solid #000;
}

.cart-btn {
  margin-left: -2px;
  display: flex;
    align-items: center;
}

:host ::ng-deep .p-calendar-w-btn .p-inputtext {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  height: 42px;
  border: 1px solid #000;
  border-radius: 0px;
}
:host ::ng-deep .p-button,:host ::ng-deep .p-button:enabled:active,:host ::ng-deep .p-button:enabled:hover{
  background: #000;
  border: 1px solid #000;
}

:host ::ng-deep .p-button:focus,:host ::ng-deep .p-inputtext:enabled:focus{
  box-shadow: none;
}