<div class="uk-container">

  <div uk-grid>
    <div class="uk-width-2-3@m uk-text-center">
      <div uk-grid>
        <div class="uk-width-1-5@m">
          <ul class="uk-thumbnav" uk-margin>
            <li class="uk-active" *ngFor="let img of product?.images; let i=index"><a (click)="imgIndex = i"><img
                  src="{{img}}" width="100" alt=""></a>
            </li>
          </ul>
        </div>
        <div class="uk-width-4-5@m" uk-lightbox="animation: slide">
          <a class="uk-inline" href="{{product?.images[imgIndex]}}">
            <img class="product-img" src="{{product?.images[imgIndex]}}" style="height:400px;object-fit: cover;" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="uk-width-1-3@m  ">
      <h4>{{product?.name}}</h4>
      <h5>Rent: ₹ {{product?.price}}</h5>
      <h5 class="uk-margin-remove-top"> Deposit: ₹ {{product?.deposit}}</h5>

      <form class="uk-grid-small" uk-grid>

        <div class="uk-width-1-2@s">
          <label class="uk-form-label">Renting Date</label>
          <div class="uk-form-controls">
            <p-calendar [(ngModel)]="rentingDate" name="rentingDate" inputId="template" [showIcon]="true"
              [minDate]="minDate" dateFormat="dd/mm/yy" (onSelect)="setReturnDate()">
            </p-calendar>
          </div>
        </div>
        <div class="uk-width-1-2@s">
          <label class="uk-form-label">Renting Duration</label>
          <div class="uk-form-controls">
            <select class="uk-select" name="days" [(ngModel)]="rentingDays" (change)="setReturnDate()">
              <option value="3">3 Days</option>
              <option value="5">5 Days</option>
            </select>
          </div>
        </div>
      </form>
      <div *ngIf="rentingDate" class="uk-margin-top">
        <label class="uk-form-label">Returning Date:</label>
        <br>
        <strong> {{returnDate |date:'dd/M/yy'}}</strong>
      </div>
      <br>

      <div>
        <!-- <input *ngIf="isAdded(product?.pid)<0" class="uk-input uk-form-width-xsmall" type="number" [(ngModel)]="qty"> -->
        <button class="uk-button uk-button-default  cart-btn" *ngIf=" !authenticated " uk-toggle="target: #login-modal">
          <i class="pi pi-shopping-cart"></i>
          &nbsp; &nbsp;
          <span style="vertical-align: middle;"> Add to Cart</span>
        </button>
        <button *ngIf="authenticated && isAdded()<0" class="uk-button uk-button-default  cart-btn"
          (click)="addToCart()">
          <i class="pi pi-shopping-cart"></i>
          &nbsp; &nbsp;
          <span style="vertical-align: middle;"> Add to Cart</span>
        </button>
        <button *ngIf="authenticated && isAdded()>=0" [routerLink]="[ '/cart']"
          class="uk-button uk-button-default  cart-btn">
          <span style="vertical-align: middle;">Product Added To Cart </span>
        </button>
        <br>
        <br>
        <div [innerHtml]="product?.desc">
        </div>

      </div>

    </div>
  </div>

</div>