<div class="uk-section">
  <div class="uk-container uk-container-xsmall	">
    <div class="" uk-grid>
      <div class="uk-width-1-3@m">
        <p>CONTACT</p>
        <h3 class="heading">INFOMATION</h3>
      </div>
      <div class="uk-width-2-3@m">
        <table class="uk-table">
          <tbody>
            <tr>
              <th>Add:</th>
              <td>2593 Timbercrest Road, Chisana, Alaska Badalas United State</td>
            </tr>
            <tr>
              <th>Phone:</th>
              <td>(+91)7-723-4608</td>
            </tr>
            <tr>
              <th>Mail:</th>
              <td>
                Aurosfurniture@domain.vn</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="" uk-grid>
      <div class="uk-width-1-3@m">
        <p>CONTACT</p>
        <h3 class="heading">DROP US A LINE</h3>
      </div>
      <div class="uk-width-2-3@m">
        <form class="uk-form-stacked">

          <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Your Name</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="form-stacked-text" type="text" placeholder="name">
            </div>
          </div>
          <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">E-Mail</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="form-stacked-text" type="mail" placeholder="xyz@abc.com">
            </div>
          </div>


          <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Message</label>
            <textarea class="uk-textarea" rows="5" placeholder="Enter Text here ..."></textarea>
          </div>
          <button class="uk-button uk-button-default">
            Send Message
          </button>

        </form>
      </div>
    </div>


    map....
  </div>
</div>
