@import "./assets/uikit.min.css";

@import"../node_modules/primeicons/primeicons.css";
@import"../node_modules/primeng/resources/themes/saga-blue/theme.css";
// @import"../node_modules/primeng/resources/primeng.min.css";

@font-face {
  font-family: 'amsterdam';
  src: url('./assets/fonts/amsterdam-four-ttf.ttf') format('truetype');

}

body{
  font-family: 'Nunito';
  letter-spacing: 0.5px;
  font-weight: 600;
}

h4,h1{
  font-family: 'Days One', sans-serif;
    color: #000;
}


.uk-button-default {
  background-color: transparent;
  color: #1d2445;
  border: 2px solid #1d2445;
  font-weight: 600;
}
.uk-tab > .uk-active > a{
  border-color:#000
}

.uk-button-default:hover,
.uk-button-default:focus {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.uk-button-secondary{
  background-color: #1d2445;
}

.uk-button-secondary:focus, .uk-button-secondary:hover{
  background-color: #333;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;

  &:before {
    content: "";
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }

  &:after {
    content: attr(data-content);
    content: attr(data-content);
    position: relative;
    font-weight: 700;
    display: inline-block;
    color: black;
    font-size: x-large;
    padding: 0 0.5em;
    line-height: 1;
    background-color: #fcfcfa;
  }
}


.uk-table th {
  padding: 16px 12px;
  text-align: left;
  vertical-align: baseline;
  font-size: 0.875rem;
  font-weight: normal;
  color: #999;
  text-transform: uppercase;
}